.block-proj h1 {
  margin-top:58px;
  margin-left:30px;
  margin-bottom:30px;
  font-weight:400;
  color:#4867b8;;
}
.block-proj p {
  margin-left:30px;
  font-weight:300;
  color:#282828;
  font-size: 20px;
  color: #898989;
  opacity: 1; }
}